body {
  
   
}

#wrapper{
    width: 100%;
    /* margin-left: 250px;
    margin-right: 250px; */
    position:center;
    background-color:pink;
    margin-bottom: 0px;
}

#logo img{
    padding-left: 450px;
    padding-top:10px;
    width: 432px;
    position:center;

}

#header1 img {
    position:center;
    width: 100%;
    height: 100%;
    margin-left: 0px;
}

#Collection {
    margin-right: 100px;

}

.Collection {
    margin-right: 100px;
   
}

#Collection h2 {
    text-align: center;
}


#newitemwrapper-Collection {
    margin-right: 100px;

}

.nnewitemwrapper-Collection {
    margin-right: 100px;

}

.newitemwrapper-Collection h6 {
    text-align: center;
    font-size: 20px;
    width:1250px;
}

.newitemwrapper-Collection h2 {
    text-align: center;
    font-size: 20px;
    width:1250px;
}
    
.Blouse1 {
    float: right;
    border: 5px solid black;
    margin: 80px 20px 50px 20px;
    border: 3px solid grey;
    margin-top: 1px;
    position: relative;
    width: 225px;
    height: 270px;
    overflow: hidden;
    margin-right: 100px;
}

.Blouse1 img {
    height: 100%;
    width: 100%;
}

.Blouse1 .prodtext {
    position: absolute;
    top: -100%;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%; 
    height: 100%;
    color: #fff;
   transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; 
   transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.Blouse1:hover .prodtext {
    top: 0px;
}

.Blouse1 .prodtext h4 {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-top: 10px;
}

.Blouse1 .prodtext p {
    margin: 15px 0px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-family: arial;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


#Navigation1{
  margin-left: 0px;  

    
    
}

 #Navigation1 img {
    height: 20px;
    width: 20px;
}
#Navigation1 {
    float: right;
}

#Navigation1 ul li {
    display: inline;
    text-decoration: none;
    color: black;
    list-style: none;
    padding-left: 5px;
    font-size: 15px;
    border-left: 1px solid black;
    font-family: FacetLight;
}

#Navigation1 a:link{
    text-decoration:none;
    color:black;
}


#p.serif {
    font-family: FacetLight;
}

#p.sansserif {
    font-family: FacetLight;
}

#Nav2{
    float: left;
    padding-left:470px;
    width: 700px;
  
}

#Nav2 a:link{
    text-decoration:none;
    color:black;
}

#Nav2 ul li{
    display:inline;
    text-align:center;
    text-decoration:none;
    color:black;
    list-style:none; 
    padding-left:10px;
    font-size:36px; 
    font-family: FacetLight;
  
}



#auto-style1 {
    color:darkgray; font-family:Casque;       
}


#column1{
    border: 1px solid grey ;
    float: left;


}


#footer { clear:both;padding: 50px 0; border-top: 1px #000 dotted; background-color: darkturquoise;}
#footer p {text-align: center;  font-size: 14px; font-family:Avian ; }
#footer a:link{ color:black;text-decoration:none;font-family: Avian; font-size:x-small; display:inline; position:center;}
    #footer ul li {
        display: inline;
        text-decoration: none;
        color: black;
        list-style: none;
        text-align:center;
    }
#footer h1{
    text-align:center;

}




#map
{
    height: 292px;
    width:542px;
    border: 1px solid black;
    margin-right: 6px;
    margin-bottom: 0px;
    margin-left: 100px;
    padding-left: 100px;
}

.required{

    color:red;

}


#column1 {
    position:center;
}

div.container {
    width: 100%;
    border: 1px solid gray;
}

header {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 190px;
    padding: 1em;
    width: 441px;
       margin-right:110px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
      margin-right:12px;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 50px;
    border-left: 1px solid white;
    padding: 1em;
    overflow: hidden;
}

.Button1{
    position:center;
}

.hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

 #logo {
            width: 846px;
        }

.auto-style1 {
            text-align: center;
        }

#gmap_canvas{
    height:400px;
    width:520px;
    padding-left: 450px;

} 

.gmap_canvas{
    height:400px;
    width:520px;
     text-align:center;
     padding-left: 450px;

} 

.mappp{
    overflow:hidden;height:400px;width:520px;
}



.ctcname{
    margin-left:4px;
}


.ctcEmail{
    margin-left:6px;
    
      Width: 127px;
  
    
}

.ctcSubject{
    margin-left:5px;
    
      Width: 127px;
  
    
}

.ctcMessage{
  
    
    margin-left: 3px;
     Width:187px;

}

.ctcbutton {
    Width: 112px;
    Font-Size: 10px;
}

.gmap_canvas{
       max-width:none!important
           ;background:none!important;
        
   }

.article p {

 font-size: 14px;
  color: rgb(115, 115, 115); 
    font-family: Verdana, sans-serif; 
  
    }




.socialmedia img{
    height: 40px;
    width:40px;



}

.socialmedia li {
    display:inline;
    position:relative;

}

.socialmedia ul li {
    display:inline-block;
}


.txtname{
 Width: 127px;
}

#loginform{
    float:left;
    width: 300px;
    margin-top:100px;
    margin-left:115px;
}

#registerform{
    float: right;
    width: 300px;
    margin-top:100px;
    margin-right:215px;
}

.ReqValName{
      color:red;
}

.reqValSubj{
     color:red;
}

.reqValEmail{

        color:red;
}

.ReqValMsg{
     color:red;
}

.ReqFieldEmail{
    color:red;
}